/* .sc-guDLey .lcyjPN {
    display: flex !important;
    flex-direction: column !important;
}
.sc-beyCSP .AApyK {
    display: flex !important;
    flex-direction: column !important;
    
}
.sc-beySPh .bWwetx{
    display: unset !important;
    position: unset !important;
} */

